html {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: lightgrey;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* header */
#heading {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#header-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
}

#header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
}

#header-login > button {
    font-size: 20px;
    border-radius: 15px;
    border: none;
    height: 60px;
    width: 120px;
}

/* main  */
#main-content {
    padding: 20px;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* form */
#add-book-area {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 12%;
    min-height: 30%;
    gap: 10px;
}

#have-read-area {
    display: flex;
    flex-direction: row;
}

#submit-cancel-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#form-cancel-button {

}



#add-book-button {

}