html {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: lightgrey;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* header */
#heading {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#header-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
}

/* main  */
#main-content {
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.book-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin: 10px;
    font-size: 30px;
}

#add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#add-book-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    height: 70px;
    width: 200px;
    transition: all .3s ease;
}

#add-book-button:hover {
    color: whitesmoke;
}


/* form */
#add-book-area {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 12%;
    min-height: 30%;
    gap: 10px;
}

.user-book {
    display: flex;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    flex-direction: column;
    background: white;
    padding: 10px 0px 10px 0px;
}

.remove-book {
    width: 50%;
    padding: 20px;
}

#have-read-area {
    display: flex;
    flex-direction: row;
}

#submit-cancel-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#have-you-read {
    
}

#form-cancel-button {

}

#push-book-button {

}